@import "tailwindcss";
@import "remixicon/fonts/remixicon.css";

:root {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
}

* {
  box-sizing: border-box;
}
